.*
*.mp4
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
anaconda3/
go/
etc/
AmazonWorkDocsCompanion/
WorkDocsDownloads/
brazil-pkg-cache/
personal/
workspace/
MacOSEncryptedVolumeTools/
!.gitignore
!.gitconfig_base
!bin
