<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.cajias.dotfiles.brew-update</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-c</string>
        <string>
if [ "$TERM_PROGRAM" = "iTerm.app" ] || [ -z "$TERM_PROGRAM" ]; then
  osascript -e 'tell application "iTerm" to create window with default profile command "/Users/rc/Projects/workspace/home/bin/update-brew-interactive.sh"' 2>/dev/null
else
  /Users/rc/Projects/workspace/home/bin/update-brew-interactive.sh
fi
        </string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Day</key>
            <integer>1</integer>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>0</integer>
            <key>Weekday</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/var/tmp/com.github.cajias.dotfiles.brew-update.log</string>
    <key>StandardErrorPath</key>
    <string>/var/tmp/com.github.cajias.dotfiles.brew-update.err</string>
</dict>
</plist>
