name: Commit Lint

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Validate commits with commitlint
        uses: wagoid/commitlint-github-action@v5
        with:
          configFile: .commitlintrc.json
          helpUrl: "https://www.conventionalcommits.org/"
